<div class="option-item">
    <div class="dropdown friend-requests-nav-item">
        <a href="#" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="friend-requests-btn">
                <i class="flaticon-user"></i>
                <span>3</span>
            </div>
        </a>

        <div class="dropdown-menu">
            <div class="friend-requests-header d-flex justify-content-between align-items-center">
                <h3>Friend Requests</h3>
                <i class="flaticon-menu"></i>
            </div>

            <div class="friend-requests-body" data-simplebar>
                <div class="item d-flex align-items-center">
                    <div class="figure">
                        <a href="#"><img src="~/assets/images/user/user-2.jpg" class="rounded-circle" alt="image"></a>
                    </div>

                    <div class="content d-flex justify-content-between align-items-center">
                        <div class="text">
                            <h4><a href="#">Sandra Cross</a></h4>
                            <span>26 Friends</span>
                        </div>
                        <div class="btn-box d-flex align-items-center">
                            <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                            <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                        </div>
                    </div>
                </div>


                <div class="view-all-requests-btn">
                    <a href="friends.html" class="default-btn">View All Requests</a>
                </div>
            </div>
        </div>
    </div>
</div>